[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/tags/*"]
	create = group Anonymous Users
	createSignedTag = group Anonymous Users
	createTag = group Anonymous Users
	push = group Anonymous Users
	forgeCommitter = group Anonymous Users
[access "refs/heads/*"]
	create = group Anonymous Users
	createSignedTag = group Anonymous Users
	createTag = group Anonymous Users
	push = group Anonymous Users
	forgeCommitter = group Anonymous Users

